a{
    color: #11999E;
    font-family: Verdana, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: silver;
}
body{
    margin: 0;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #40514e;
  

}
h1{
    margin-top: 0px;
    color: rgb(44, 43, 43);
}
h2{
    
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    
}
hr{
    border: dotted grey;
    border-width: 0.0 0 7px;
    width: 5%;
}
p{
    line-height: 2;
}
/************Hamburger menu******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/**************CLASS STYLES*****************/

.automation{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.ciber{
    float: left;
    width: 25%;
    margin-right: 30px;
}
.devops{
    width: 35%;
    float: right;
    margin-right: 30px;
}

.bottom-container{
    background-color: azure;
    padding: 40px 0 20px;

}
.bottom-cloud{
    left: 300px;
    top: 50px;
    position: absolute;
    
}
.contact-me{
    width: 40%;
    margin: auto;
}
.copyright{
    color: #40514e;
    font-size: 12px;
    padding-top: 30px;
}

.intro{
    width: 30%;
    position: relative;
    margin: auto;
}
.middle-container{
    margin: 100px 0 100px 0;
    font-weight: bold;
    line-height: 2;
}

.mypicture{
    
    border-radius: 100%;
    size: 75%;
}
.skill-row{
    width: 50%;
    margin:  100px auto 100px auto;
    text-align: left;
    
    font-weight: normal;
    
}
.skill-row-ciber-desc{
    clear: left;
}
.thick{
    font-weight: bold;
}
.top-container{
    background-color: azure;
    position: relative;
    padding-top: 100px ;
    font-weight: bold;
    padding-bottom: 25px;
 
}

.top-cloud{
    right: 300px;
    top:50px;
    position: absolute;
}

.vault{
   
}

/*********** BUTTON************************/
.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 12.5px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 20px;
    text-decoration: none;
 }